* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: black;
    letter-spacing: 1px;
}

h1 {
    text-align: left;
}

.nomeEfrase {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: center;
    margin-left: 5rem;
    gap: 15px;
    text-align: justify;
    font-size: 18px;
}

img {
    border-radius: 15rem;
    width: 150px;
    margin-left: 20%;
}

header {
    background-color: rgb(214, 244, 253);
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 2%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:rgba(117, 148, 250, 0.503);
    padding: 2%;
    gap: 10rem;
    font-size: 21px;
}

a {
    text-decoration: none;
}

.linksNav:hover {
    background-color: rgb(214, 244, 253);
    padding: 10px;
    border-radius: 20px;
    border-bottom: 5px solid rgba(14, 28, 74, 0.7);
}

main {
    display: flex;
    width: 55%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 7%;
    padding-left: 8%;
    gap: 5rem;
    align-items: center;
}

.containerSobremim {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 20px;
    gap: 50px;
    text-align: justify;
    align-items: center;
}

.sections {
    width: 90%;
}

.containerHabilidades {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 20px;
    gap: 80px;
    text-align: left;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 5%;
    margin-top: -5%;
    gap: 15px;
}

#tituloProjetos {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.projetosPai {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding: 8%;
    font-size: 20px;
    border-radius: 30px;
    align-items: center;
    background-color: rgb(195, 238, 160);
    margin-bottom: 20%;
}

.containerProjetos {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.cadaProjeto {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
    gap: 40px;
}

h5 {
    font-size: 1.1rem;
}

.projeto1 {
    display: flex;
    flex-direction: column;
    padding: 9%;
    gap: 30px;
    border-radius: 20px;
    text-align: justify;
    justify-content: center;
    align-items: left;
    background-color: rgba(250, 255, 175, 0.788);
    border-left: 8px solid rgba(255, 147, 137, 0.946);
}

.projeto2 {
    display: flex;
    flex-direction: column;
    padding: 9%;
    gap: 30px;
    border-radius: 20px;
    text-align: justify;
    justify-content: center;
    align-items: left;
    background-color: rgba(250, 255, 175, 0.788);
    border-left: 8px solid rgb(255, 150, 150);
}

.mainEaside {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
}

.containerInfosExtras {
    display: flex;
    padding-top: 7%;
    width: 30%;
    flex-direction: column;
    gap: 50px;
    font-size: 18px;
    align-items: center;
    border-left: 2px;
}

h4 {
    margin-top: 10%;
}

.textoInfosExtras {
    display: flex;
    text-align: justify;
    flex-direction: column;
    width: 90%;
    font-size: 20px;
    align-items: center;
}

.redesSociais {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 11%;
    gap: 5%;
    border-radius: 20px;
    background-color: rgb(195, 238, 160);
    text-align: center;
}

.cadaRede {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width: 100%;
    height: 25%;
    border-radius: 20px;
    justify-content: center;
    gap: 30px;
    background-color: rgb(195, 238, 160);
    text-align: center;
}

.rede1 {
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
    padding: 4%;
    background-color: rgba(255, 179, 171, 0.946);
    border-radius: 10px;
    border-top: 4px solid rgba(240, 247, 150, 0.913);
    align-items: center;
}

.rede1:hover {
    border-top: 4px solid rgba(255, 147, 137, 0.946);
    background-color: rgba(228, 235, 132, 0.913);
}

.rede2 {
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
    padding: 4%;
    background-color: rgba(255, 179, 171, 0.946);
    border-radius: 10px;
    border-top: 4px solid rgba(240, 247, 150, 0.913);
    align-items: center;
}

.rede2:hover {
    border-top: 4px solid rgba(255, 147, 137, 0.946);
    background-color: rgba(240, 247, 150, 0.913);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    background-color:rgba(155, 178, 252, 0.548);
    font-size: 23px;
}

.contato {
    flex-direction: row;
}

.direitosAutorais {
    gap: 4rem;
    font-size: 20px;
}



@media (max-width: 1000px) {
    h1 {
        text-align: left;
        font-size: 2.5rem;
    }

    .nomeEfrase {
        width: 60vh;
        font-size: 1.3rem;
        margin-left: 4rem;
        margin-right: 2.5rem;
    }

    img {
        border-radius: 25rem;
        width: 150px;
        height: 150px;
        margin-left: 2.5rem;
    }

    nav {
        width: 100vh;
        justify-content: center;
        gap: 130px;
        padding: 1.5rem;
    }

    header {
        width: 100vh;
        padding: 5%;
    }

    main {
        width: 50vh;
        padding-top: 10%;
    }

    .containerSobremim {
        width: 40vh;
        font-size: 1.5rem;
        gap: 40px;
    }

    .textoInfosExtras {
        width: 30vh;
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .containerHabilidades {
        font-size: 1.5rem;
    }

    ul {
        width: 40vh;
        margin-left: 4rem;
        text-align: left;
    }

    .projetosPai {
        width: 40vh;
        padding-top: 13%;
        font-size: 1.5rem;
    }

    .containerProjetos {
        width: 40vh;
        padding-bottom: 0%;
    }

    .cadaProjeto {
        flex-direction: column;
        width: 30vh;
        margin-top: 2rem;
        gap: 50px;
        padding-bottom: 9%;
    }

    .projeto1 {
        font-size: 1.2rem;
    }

    .projeto2 {
        font-size: 1.2rem;
    }

    .mainEaside {
        width: 100vh;
    }

    .containerInfosExtras {
        height: 2%;
        padding-top: 11%;
        gap: 40px;
    }
    
    .redesSociais {
        height: 20%;
        align-items: center;
    }

    h4 {
        margin-top: 15%;
        font-size: 1.2rem;
    }

    .cadaRede {
        height: 30%;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        gap: 25px;
        margin-bottom: 15%;
    }

    .rede1 {
        width: 60%;
        padding: 6%;
    }

    .rede2 {
        width: 60%;
        padding: 6%;
    }

    footer {
        width: 100vh;
        padding: 1.5rem;
        font-size: 1.5rem;
    }
}